<div class="container p-6">
  <div class="row">
    <div class="col-md-6 mb-6">
      <div class="card shadow-md rounded-xl">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="mb-0 font-weight-bold text-sm">今日の売上金額</p>
              <p class="mb-0 font-weight-bold text-xl">
                <%= number_to_currency(@today_total_sales, unit: "¥", strip_insignificant_zeros: true) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-6">
      <div class="card shadow-md rounded-xl">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="mb-0 font-weight-bold text-sm">今日の注文数</p>
              <p class="mb-0 font-weight-bold text-xl">
                <%= @today_total_orders %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_with url: admin_root_path, method: :get, class: "px-9", local: true  do |f|  %>
    <div class="d-flex align-items-center">
      <%= f.select :status, options_for_select(Order.statuses.keys.to_a, @selected), { prompt: "全て" }, {class: "form-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 appearance-none"} %>
      <%= f.submit "検索する", class: "btn btn-primary ml-2" %>
    </div>
  <% end %>

  <div class="row p-6">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th class="font-weight-bold text-left uppercase align-middle border-0 text-lg border-bottom-0">会員</th>
              <th class="font-weight-bold text-left uppercase align-middle border-0 text-lg border-bottom-0">金額</th>
              <th class="font-weight-bold text-center uppercase align-middle border-0 text-lg border-bottom-0">ステータス</th>
              <th class="font-weight-bold text-center uppercase align-middle border-0 text-lg border-bottom-0">注文日時</th>
              <th class="font-weight-bold text-center uppercase align-middle border-0 text-lg border-bottom-0"></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td class="align-middle border-top-0">
                  <p class="mb-0 text-md"><%= order.customer.email %></p>
                </td>
                <td class="align-middle border-top-0">
                  <p class="font-weight-bold text-md"><%= number_to_currency(order.billing_amount, unit: "¥", strip_insignificant_zeros: true) %></p>
                </td>
                <td class="text-center align-middle border-top-0">
                  <span class="badge bg-primary text-white text-xs font-weight-bold"><%= order.status %></span>
                </td>
                <td class="text-center align-middle border-top-0">
                  <span class="font-weight-bold text-md"><%= l order.created_at, format: :short %></span>
                </td>
                <td class="align-middle border-top-0">
                  <%= link_to admin_order_path(order), class: "text-sm text-gray-400 font-weight-bold" do %>
                    注文詳細
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
