<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<main class="container">
  <h2 class="text-center p-5">新規会員登録</h2>

  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "customer/shared/error_messages", resource: f.object %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :name, "氏名", class: "form-label" %>
        <span class="text-danger">*</span>
        <%= f.text_field :name, class: "form-control", id: "name", placeholder: "山田　太郎", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :email, "Email", class: "form-label" %>
        <span class="text-danger">*</span>
        <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "name@example", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <span class="text-danger">*</span>
        <%= f.password_field :password, class: "form-control", id: "inputPassword", placeholder: "６文字以上", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :password_confirmation, "パスワード(再入力)", class: "form-label" %>
        <span class="text-danger">*</span>
        <%= f.password_field :password_confirmation, class: "form-control", id: "inputPassword_confirmation", placeholder: "６文字以上", required: true %>
      </div>

      <div class="d-grid mb-3">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <h2 class="text-center p-5">ログインは<%= link_to "こちら", new_customer_session_path %></h2>
</main>
