<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<main class="container">
  <h2 class="text-center p-5">ログイン</h2>

    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <%= render "customer/shared/error_messages", resource: f.object %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :email, "Email", class: "form-label" %>
        <%= f.email_field :email, class: "form-control", id: "inputEmail", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control", id: "inputPassword", required: true %>
      </div>

      <div class="d-grid mb-3">
        <%= f.submit "ログインする", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <h2 class="text-center p-5">会員登録がまだの方は<%= link_to "こちら", new_customer_registration_path %></h2>
</main>
