<div class="mb-6 text-center">
  <h2 class="text-3xl font-bold">
    注文履歴
  </h2>
</div>

<% if @orders.count == 0 %>
  <div class="mx-auto max-w-3xl">
    <p class="mb-8 text-xl text-center">注文履歴はありません</p>
    <div class="flex justify-center">
      <%= link_to products_path, class: "btn btn-primary" do %>
        商品を探す
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm rounded">
          <ul class="list-group list-group-flush">
            <% @orders.each do |order| %>
              <%= link_to order_path(order), class: "list-group-item list-group-item-action" do %>
                <div class="d-flex justify-content-between align-items-center">
                  <span><%= l order.created_at, format: :short %></span>
                  <span class="font-weight-bold text-primary">
                    <%= number_to_currency(order.billing_amount, unit: "¥", strip_insignificant_zeros: true) %>
                  </span>
                  <span class="badge badge-info"><%= order.status %></span>
                </div>
                <div>
                  <p class="mb-1">注文者名:　 <%= order.name %></p>
                  <p class="mb-1">お届け先情報 </p>
                  <p class="mb-1">郵便番号:　 <%= order.postal_code %></p>
                  <p class="mb-1">都道府県:　 <%= order.prefecture %></p>
                  <p class="mb-0">ご住所:　 <%= order.address1 %> <%= order.address2 %></p>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-end">
         <%= link_to "戻る", products_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
