<!DOCTYPE html>
<html>
  <head>
    <title>HairCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      /* スクロールしても常に表示されるようにナビゲーションバーを固定 */
      header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* 他の要素よりも前面に表示するための z-index */
      }

      /* コンテンツがナビゲーションバーの下に隠れないようにするためのマージン */
      body {
        margin-top: 64px; 
      }

    </style>
  </head>

  <body>
 <% unless current_page?(new_customer_registration_path) || current_page?(new_customer_session_path) %>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg" style="background-color: #CC9999;">
        <div class="container-fluid">
          <%= link_to "Hair Catalog.", root_path, class:"navbar-brand"%> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to current_admin.email,'#', class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "商品管理", admin_products_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "注文管理", admin_root_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "顧客管理", admin_customers_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, data: { turbo_method: :delete }, class: "nav-link"%>
              </li>

              <% elsif customer_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="#">お問い合わせ</a>
              </li>
              <li class="nav-item">
                <%= link_to current_customer.name, edit_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, data: { turbo_method: :delete }, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "買い物かご", cart_items_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "注文履歴", orders_path, class: "nav-link"%>
              </li>

              <% else %>
              <li class="nav-item">
                <a class="nav-link" href="#">お問い合わせ</a>
              </li>
              <li class="nav-item">
                <%= link_to "新規会員登録", new_customer_registration_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "買い物かご", cart_items_path, class: "nav-link"%>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
 <% end %> 
    <%= yield %>
  </body>
</html>
